#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  rustdesk-app.service
BindsTo=rustdesk.service
After=rustdesk.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/rustdesk-app.pid %t/rustdesk-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/rustdesk-app.pid \
    --cidfile %t/rustdesk-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/rustdesk.pod-id --replace -d --name  rustdesk-app \
    --volume rustdesk-app:/data:Z \
    --env RELAY=${RELAY_HOST} \
    --env ENCRYPTED_ONLY=1 \
    --env ALWAYS_USE_RELAY=Y \
    ${RUSTDESK_SERVER_S6_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/rustdesk-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP rustdesk-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/rustdesk-app.ctr-id
PIDFile=%t/rustdesk-app.pid
Type=forking

[Install]
WantedBy=default.target
